<div id="app-holder" appTheme>
  <app-main></app-main>

  <label>
    lang |
    <select #langSelect (change)="changeLang(langSelect.value)">
      <option *ngFor="let lang of langs" [value]="lang">
        {{lang}}
      </option>
    </select>
  </label>

  <div class="wrapper">
    <div class="toggle">
      <input class="toggle-input" type="checkbox" [checked]="isThemeDark" (change)="toggleTheme()"/>
      <div class="toggle-bg"></div>
      <div class="toggle-switch">
        <div class="toggle-switch-figure"></div>
        <div class="toggle-switch-figureAlt"></div>
      </div>
    </div>
  </div>

        <div class="icons" >
          <a href="https://github.com/santiagosj" target="_blank" class="fa fa-github"></a>
          <a href="https://www.linkedin.com/in/santiago-spinetto-jung-343403122/" class="fa fa-linkedin" target="_blank"></a>
        </div>

  <router-outlet></router-outlet>

</div>

